<html>
    <head>
        <title>Apoorva's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Apoorva's Blog</a></h1>
        </div>

        <div>
            <p>Published: 18.07.2017, 15:12:43</p>
            <h2><a href="">New Post</a></h2>
            <p>Making this just cuz.</p>
        </div>

        <div>
            <p>Published: 18.07.2017, 12:14</p>
            <h2><a href="">Another Post II</a></h2>
            <p>Hello darkness my old friend.</p>
        </div>
    </body>
</html>
