<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <title>Apoorva's Blog</title>
    </head>
    <body>
      <div>
          <h1><a href="/">Apoorva's Blog</a></h1>
      </div>

      {% for post in posts %}
          <div>
              <p>published: {{ post.published_date }}</p>
              <h1><a href="">{{ post.title }}</a></h1>
              <p>{{ post.text|linebreaksbr }}</p> <!-- \linebreaksbr is piping the post' text through a filter to convert line-breaks into paragraphs!>>-->
          </div>
      {% endfor %}
    </body>
</html>
